.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/plugins/pocketpal
/plugins/cafetcg/Cards
/plugins/cafegacha
/plugins/catchemall
/plugins/cafetcg
/plugins/wendigo